.App {
  text-align: center;
}

form .userInput{
  margin-top: 10px;
}

form input{
  width: 350px;
  height: 50px;
  text-align: left;
  padding: 0px 15px;
  font-weight: bold;
  background-color: #e6e6e6;
  border: 0px solid;
  font-size: 18px;
}

.userInput textarea{
  width: 350px;
  height: 50px;
  text-align: left;
  padding: 0px 15px;
  font-weight: bold;
  color: #403866;
  background-color: #e6e6e6;
  border: 0px solid;
  font-size: 18px;
}

form button{
  margin-top: 10px;
  color: #fff;
  width: 380px;
  height: 50px;
  background-color: #827ffe;
  font-size: 18px;
}

.loginRegisterButtons button{
  margin: 0 5px;
  color: #fff;
  width: 120px;
  height: 30px;
  background-color: #827ffe;
  font-size: 18px;
}


